.page-header
{
    margin-top: 40px;
    margin-bottom: 20px;
}

h2
{
    margin-top: 20px;
    margin-bottom: 20px;
}

table th.id
{
    width: 50px;
}

table th.actions
{
    width: 180px;
}

table td.actions
{
    padding-right: 0;
}

table td.actions a:first-of-type
{
    margin-left: 0;
}

table td.actions a
{
    margin-left: 10px;
}

.checkbox-list
{
    margin-bottom: 20px;
}

.buttons
{
    margin-bottom: 20px;
}

footer .footer-content
{
    padding: 5px 12px 5px 12px;
    margin-bottom: 20px;
    background: rgb(248, 249, 250);
}