<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Dane artysty</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="page-header">
                <h1>Dane artysty</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <h4>Id</h4>
            <p th:text="${data.id}"></p>
        </div>

        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <h4>Imię</h4>
            <p th:text="${data.firstName ?: 'Brak danych'}"></p>
        </div>

        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <h4>Nazwisko</h4>
            <p th:text="${data.lastName ?: 'Brak danych'}"></p>
        </div>

        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <h4>Nick</h4>
            <p th:text="${data.nick ?: 'Brak danych'}"></p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <h2>Utwory</h2>
        </div>
    </div>

    <div class="row" th:if="${data.songs.isEmpty()}">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="alert alert-primary" role="alert">
                Brak danych
            </div>
        </div>
    </div>

    <div class="row" th:unless="${data.songs.isEmpty()}">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <table class="table">
                <tr>
                    <th class="id">Id</th>
                    <th>Nazwa</th>
                </tr>

                <tr th:each="i : ${data.songs}">
                    <td class="id" th:text="${i.id}"></td>
                    <td th:text="${i.name}"></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row buttons">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <a class="btn btn-primary" th:href="@{/artists(page=${#request.getParameter('page')})}">
                Powrót
            </a>
        </div>
    </div>
</div>
</body>
</html>