<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Dodawanie utworu</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="page-header">
                <h1>Dodawanie utworu</h1>
            </div>
        </div>
    </div>

    <div class="row" th:if="${showError}">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="alert alert-danger" role="alert">
                Wystąpił błąd. Sprawdź czy wszystkie pola formularza zostały wypełnione poprawnie.
            </div>
        </div>
    </div>

    <form th:action="@{/songs/add(page=${#request.getParameter('page')})}"
          th:object="${song}" th:method="post">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="form-group">
                    <label for="title">Tytuł</label>
                    <input id="title" type="text" th:field="*{title}" class="form-control" placeholder="Tytuł" required/>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="form-group">
                    <label for="genre">Gatunek</label>
                    <input id="genre" type="text" th:field="*{genre}" class="form-control" placeholder="Wprowadź gatunek" required/>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="form-group">
                    <label for="year">Rok</label>
                    <input id="year" type="number" th:field="*{year}" class="form-control" placeholder="Wprowadź rok" required/>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                <div class="form-group">
                    <label for="recordLabel">Wytwornia</label>
                    <input id="recordLabel" type="text" th:field="*{recordLabel}" class="form-control" placeholder="Wprowadź wytwornię" required/>
                </div>
            </div>
        </div>

        <h2>Artyści</h2>

        <div class="row" th:if="${song.artists.isEmpty()}">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="alert alert-primary" role="alert">
                    Brak artystów w bazie danych
                </div>
            </div>
        </div>

        <div class="row checkbox-list" th:unless="${song.artists.isEmpty()}">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4" th:each="i,iter : ${song.artists}">
                <div class="form-check">
                    <input th:id="${i.id}" type="checkbox" th:field="*{artists[__${iter.index}__].checked}" class="form-check-input"/>
                    <input type="hidden" th:field="*{artists[__${iter.index}__].id}"/>
                    <input type="hidden" th:field="*{artists[__${iter.index}__].label}"/>
                    <label th:for="${i.id}" th:text="${i.label}" class="form-check-label"></label>
                </div>
            </div>
        </div>

        <div class="row buttons">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <button type="submit" class="btn btn-primary">
                    Zapisz
                </button>
            </div>
        </div>

    </form>
</div>
</body>
</html>