<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Dane utworu</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="page-header">
                <h1>Dane utworu</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <h4>Id</h4>
            <p th:text="${data.id}"></p>
        </div>

        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <h4>Tytuł</h4>
            <p th:text="${data.title ?: 'Brak danych'}"></p>
        </div>

        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <h4>Gatunek</h4>
            <p th:text="${data.genre ?: 'Brak danych'}"></p>
        </div>

        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <h4>Rok</h4>
            <p th:text="${data.year ?: 'Brak danych'}"></p>
        </div>

        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <h4>Wytwórnia</h4>
            <p th:text="${data.recordLabel ?: 'Brak danych'}"></p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <h2>Artyści</h2>
        </div>
    </div>

    <div class="row" th:if="${data.artists.isEmpty()}">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="alert alert-primary" role="alert">
                Brak danych
            </div>
        </div>
    </div>

    <div class="row" th:unless="${data.artists.isEmpty()}">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <table class="table">
                <tr>
                    <th class="id">Id</th>
                    <th>Nazwa</th>
                </tr>

                <tr th:each="i : ${data.artists}">
                    <td class="id" th:text="${i.id}"></td>
                    <td th:text="${i.name}"></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row buttons">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <a class="btn btn-primary" th:href="@{/songs(page=${#request.getParameter('page')})}">
                Powrót
            </a>
        </div>
    </div>
</div>
</body>
</html>