<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title>Utwory</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="page-header">
                <h1>Utwory</h1>
            </div>
        </div>
    </div>

    <div class="row" th:unless="${page.hasContent()}">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="alert alert-primary" role="alert">
                Brak danych
            </div>
        </div>
    </div>

    <div class="row" th:if="${page.hasContent()}">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <table class="table">
                <tr>
                    <th class="id">Id</th>
                    <th>Tytuł</th>
                    <th>Gatunek</th>
                    <th>Rok</th>
                    <th class="actions"></th>
                </tr>

                <tr th:each="i : ${page.content}">
                    <td class="id" th:text="${i.id}"></td>
                    <td th:text="${i.title}?:'(Brak danych)'"></td>
                    <td th:text="${i.genre}?:'(Brak danych)'"></td>
                    <td th:text="${i.year}?:'(Brak danych)'"></td>

                    <td class="actions">
                        <div class="float-right">
                            <a th:href="@{/songs/details(id=${i.id}, page=${#request.getParameter('page')})}" class="btn btn-light">
                                <span class="fas fa-search"></span>
                            </a>

                            <a th:href="@{/songs/edit(id=${i.id}, page=${#request.getParameter('page')})}" class="btn btn-light">
                                <span class="fas fa-edit"></span>
                            </a>

                            <a th:href="@{/songs/delete(id=${i.id}, page=${#request.getParameter('page')})}" class="btn btn-danger">
                                <span class="fas fa-trash"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row buttons">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <a class="btn btn-primary" th:href="@{/songs/add(page=${#request.getParameter('page')})}">
                Dodaj
            </a>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="float-right">
                <a class="btn btn-light" th:classappend="${page.hasPrevious() ? '' : 'disabled' }" th:href="@{/songs(page=${page.number} - 1 )}">
                    <span class="fas fa-arrow-left"></span>
                </a>

                <a class="btn btn-light" th:classappend="${page.hasNext() ? '' : 'disabled' }" th:href="@{/songs(page=${page.number} + 1 )}">
                    <span class="fas fa-arrow-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>